.category_block li:hover {
    background-color: #007bff;
}
.category_block li:hover a {
    color: #ffffff;
}
.category_block li a {
    color: #343a40;
}
active{
    background-color: #007bff;
}
a .active{
    color: white;
}